
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<div ng-controller="myCtrl"></div>
<table id="homeTable" class="display">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    // series id: 4198
    // tournament id: 2378
    app.controller('myCtrl', function ($scope, $http) {
        //$http({
        //    method: 'GET',
        //    url: ''
        //}).then(function (resp) {
        //    console.log(resp);
        //});
    });
    $(document).ready(function () {
        $('#homeTable').DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: "https://localhost:44395/api/lol/Tournaments/GetPlayers?id=2378",
                type: "GET",
                dataSrc: function (json) {
                    return JSON.parse(json.data);
                }
            },
            columns: [
                { data: "image_url", render: function (d) { return "<img src=\"" + d + "\" style=\"width: 63; height: 50px;\" />" } },
                { data: "name" }
            ]
        });
        
        
    });
</script>