
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

    <ul>
        <li><a asp-area="LeagueOfLegends" asp-controller="Stats" asp-action="">Stats</a></li>
        <li><a asp-area="LeagueOfLegends" asp-controller="" asp-action="">Fantasy</a></li>
    </ul>

<script>

</script>