
@{
    ViewData["Title"] = "Games";
}

<h1>Games</h1>

<ul>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Games">League of Legends</a></li>
    <li>Some other fucking game lol</li>
</ul>